@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import 'null.css';

body {
  background: #f8efef;
}
body.modal-open {
  overflow: hidden;
}

.header__title {
  display: inline-flex;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: -3px -3px 20px 20px white;
}

.header__link {
  border-bottom: 2px dotted black;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Предупреждение */
.warning {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

/* Тест на skills верстальщика */
.quiz {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: 600px;
  width: 100%;
  border-radius: 10px;
  /* background-color: white; */
}

.quiz__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}
.header__left {
  width: 200px;
}
.quiz__progress {
  height: 40px;
  /* border-radius: 30px; */
  background-color: #f8efef;
  border: 4px solid #cd8c8b;
}

.quiz__progress-inner {
  height: 100%;
  width: 70%;
  background-color: #cd8c8b;
  transition: all 0.3s ease-in-out;
}

.quiz__content {
  padding: 30px 30px 20px;
  flex: 1 0 auto;
}

.quiz__title {
  font-size: 40px;
  font-weight: 600;
}

.quiz__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px 0px;
}

.quiz__option {
  position: relative;
  background: #ffffff;
  padding: 8px 15px;
  padding-left: 80px;
  min-height: 44px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz__option::before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60px;
  content: attr(data-id);
  color: #fff;
  background-color: #cd8c8b;
}

.quiz__option:hover {
  color: #fff;
  background: #cd8c8b53;
  /* border: 1px solid #b8daff; */
}

.quiz__option.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

.quiz__option.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.quiz__option.disabled {
  pointer-events: none;
}

.quiz__footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

.quiz__total,
.quiz__score-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.quiz__next-btn {
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
  background: #cd8c8b;
  border: 1px solid #f8efef;
  margin-left: auto;
}

.result {
  max-width: 450px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
}

.result__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result__img img {
  max-width: 200px;
  width: 100%;
}

.result__title {
  font-size: 22px;
  font-weight: 550;
  text-align: center;
}

.result__text {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  color: #cd8c8b;
}

.result__text-final {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #cd8c8b;
  margin: 30px 0;
}

.result__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result__restart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #f8efef;
  color: #f8efef;
  background: #cd8c8b;
}

.result__restart:hover {
  color: #fff;
  background: #f8efef;
}

.footer {
  text-align: center;
  padding: 10px;
  color: white;
}

.footer__link {
  color: black;
}

/* Modal  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #ffffff;
  transform: scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 300px;
  height: 120px;
  max-height: 100vh;
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.15;
}

.modal__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  color: #000000;
  background: #ffffff;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-modal {
  font-size: 20px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__btn-close:hover,
.modal__btn-close:focus {
  color: #cd8c8b;
  border: 1px solid #cd8c8b;
}

.modal__btn-close:hover .close-modal,
.modal__btn-close:focus .close-modal {
  color: #cd8c8b;
}
